---
---
@import "style";

.content .profile-picture {
  height: 125px;
  width: 125px;
  position: relative;
  margin: -20px 15px 0 15px;
  float: right;
  border-radius: 20%;
}

.content .paper-list {
	line-height: 100%;
	font-size: 16px;
	.paper-logo {
        width: 150px;
        height: auto;
        position: center;
        margin: auto 0px auto 0;
    }
	.paper-title {
		font-size: 18px;
		height: 25%;
		font-weight: bold;
    }
    .paper-authors {
    	height: 25%;
    }
    .paper-pub {
    	height: 25%;
    	font-weight: bold;
    	font-style: italic;
    }
    .paper-links {
    	height: 25%;
    }

    .project-logo {
        width: auto;
        height: auto;
        max-height: 150px;
        max-width: 100%;
        position: relative;
        margin: auto;
    }
}