
.center {
  border: 0px solid;
  text-align: right;
}

.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


.profile-image {
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5em;
  border-radius: 100px;
  background-image: url(../images/me-crop.JPG);
}

.large-image {
  max-width: 20%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2.5em;
  border-radius: 100px;
  background-image: url(../images/me-crop.JPG);
}