<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Matias Turkulainen; Computer Vision; 3D Reconstruction; Gaussian Splatting; NeRF; Aalto University">
    <meta name="author" content="{{ site.author }}">
    {% if page.url == "/404.html" %}
        <meta http-equiv="refresh" content="5; url=/">
    {% endif %}
    {% if page.description %}
        {% assign desc = page.description %}
    {% else %}
        {% assign desc = site.description %}
    {% endif %}
    {% if page.url %}
        {% assign url = site.url | append: site.baseurl | append: page.url %}
    {% else %}
        {% assign url = site.url | append: site.baseurl | append: page.url %}
    {% endif %}
    <meta name="description" content="{{ desc }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata:400,700&display=swap' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }} RSS" href="/feed.xml" />
    <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
    {% if site.favicon %}
        <link rel="icon" type="image/svg+xml" href="{{ site.favicon_location }}">
        <link rel="shortcut icon" href="{{ site.favicon_location }}">
    {% endif %}
    {% if site.twitter_username %}
        <link rel="author" href="https://twitter.com/{{ site.twitter_username }}">
    {% endif %}
    <!-- Facebook Open Graph -->
    <meta name="og:description" content="{{ desc }}">
    <meta name="og:title" content="{{ site.title }}">
    <meta name="og:url" content="{{ url }}">
    <meta name="og:type" content="article">
    {% if site.og_image %}
        <meta name="og:image" content="{{ site.og_image }}">
    {% endif %}
    {% if site.facebook_id %}
        <meta name="fb:admins" content="{{ site.facebook_id }}">
    {% endif %}
    <!-- Twitter -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ desc }}">
    <meta name="twitter:url" content="{{ url }}">
    {% if site.twitter_image %}
        <meta name="twitter:image" content="{{ site.twitter_image }}">
    {% else %}
        <meta name="twitter:image" content="{{ site.profile_picture }}">
    {% endif %}
</head>
<body>
    <div class="wrapper">
        <header class="navbar container">
            {% if site.ins_logo %}
                <img id="ins-logo" src="{{ site.ins_logo }}" />
            {% endif %}
            <a id="author-name" href="{{ site.baseurl }}">{{ site.title }}</a>
            <ul id="navlist" class="navbar-ul">
                {% for x in site.nav %}
                    <li class="nav-list">
                        {% if x.name == "Resume" %}
                            <a target="_blank" href="{{ x.link }}">{{ x.name }}</a>
                        {% else %}
                            <a href="{{ x.link }}">{{ x.name }}</a>
                        {% endif %}
                    </li>
                    {% if forloop.last == false %}
                        <li class="nav-sep" aria-hidden="true">/</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </header>
        <hr>
        {% if page.is_contact == true %}
            <main class="container content contact">
        {% else %}
            <main class="container content">
        {% endif %}
                {{ content }}
                {% if site.footer == true %}
                    <hr />
                    <p style="text-align: center; margin-bottom: 10px">
                    <script type="text/javascript" id="clustrmaps" src="//cdn.clustrmaps.com/map_v2.js?cl=58c6e8&w=300&t=n&d=VIDNepht1OWo7hueGUWXZQG63MLhycrrCu4Etf735GU&co=ffffff&cmo=ff0000&cmn=ff0000&ct=ff0000"></script>
                    <a href="{{ site.footer_url }}" style="color: black"><small>{{ site.footer_text }}</small></a>
                    </p>
                {% endif %}
            </main>
    </div>
    {% if site.google_analytics %}
    {% include analytics.html %}
    {% endif %}
</body>
<footer>
</footer>
