---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h2>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}

  <h2 class="post-list-heading">Recent projects</h2>
  <div class=""> <!--row project-list-->
    {% assign sorted_projects = (site.projects | sort: 'priority') | reverse %}
    {%- for project in sorted_projects -%}
    {% if project.visible != false %}
    <div class ="project-column "> 
      <a href="{{ project.url | relative_url }}">
        <div class="project-cell"> <!--col-sm-6 project-cell-->
          <h3>{{ project.title | escape }}</h3>
          <div class="project-image">
            <img src="{{ site.baseurl }}/assets/images/{{ project.image }}">
          </div>
        </div>
      </a>
    </div>
    
    {%- endif -%}
    {%- endfor -%}
  </div>
  {% if site.google_analytics %}
  {% include analytics.html %}
  {% endif %}
</div>
